@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
:root {
    --main: #6f00ff;
    --black: #000;
    --white: #fff;
    --border: .2rem solid var(--black);
    --box-shadow: 0 1rem 1.5rem rgba(0,0,0,.3);
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
   background: var(--main);
}
html::-webkit-scrollbar-thumb {
    background: var(--black);
 }
body {
    background-color: var(--main);
    overflow-x: hidden;
}
section {
    padding: 5rem 10%;
}
.heading {
    text-align: center;
    font-size: 7vw;
    text-transform: uppercase;
    color: var(--white);
    -webkit-text-stroke: .2rem var(--black);
    margin-bottom: 3rem;
}
.btn {
    display: block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--main);
    border: var(--border);
    color: var(--black);
    text-transform: uppercase;
    font-size: 1.5rem;
}
.btn:hover {
    background: var(--black);
    color: var(--main);
}
.header {
    padding: 1.5rem 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}
.header #menu-btn {
    height: 5rem;
    width: 5rem;
    line-height: 4.7rem;
    border-radius: 50%;
    border: var(--border);
    background: var(--white);
    font-size: 1.7rem;
    text-align: center;
}
.header #menu-btn:hover {
    background: var(--black);
    color: var(--white);
}
.navbar {
    position: fixed;
    bottom: 0;
    left: -110%;
    height: calc(100% - 8rem);
    width: 50%;
    z-index: 1000;
    background: var(--black);
    padding: 0 9%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: .2s linear;
}
.navbar.active {
    left: 0;
}
.navbar a{
    font-size: 5.5rem;
    color: var(--white);
    text-transform: uppercase;
    transition: .2s linear;
}
.navbar a:hover {
    background: var(--main);
    font-size: 4rem;
    transform: scale(.9);
    color: var(--black);
    padding: .5rem 2rem;
}
.navbar-img {
    position: fixed;
    bottom: 0;
    right: -110%;
    height: calc(100% - 8rem);
    width: 50%;
    z-index: 1000;
    transition: .2s linear;
}
.navbar-img.active {
    right: 0;
}
.navbar-img img {
    height: 100%;
    width: 100%;
}
.home {
    margin-top: 8rem;
    position: relative;
    padding-bottom: 35rem;
}
.home h2 {
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}
.home .home-text {
    -webkit-text-stroke: .2rem var(--black);
    color: var(--white);
    position: relative;
    z-index: 10;
}
.home .home-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -70%) scale(0);
    transition: .2s linear;
    pointer-events: none;
    height: 40rem;
    width: 40rem;
    object-fit: contain;
}
.home .home-text:hover {
    text-shadow: var(--box-shadow);
}
.home .home-text:hover ~ .home-img{
    transform: translate(-50%, -70%) scale(1);
}
.home .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30rem;
    width: 100%;
    background: url(../Resources/home-imgs/wave.png) repeat-x;
    background-size: 250rem 30rem;
    animation: wave 10s linear infinite;
}
@keyframes wave {
    0%{
        background-position-x: 0;
    }
    0%{
        background-position-x: -250rem;
    }
}
.home .wave.wave-2 {
    opacity: .5;
    animation-delay: .2s;
    animation-direction: reverse;
}
.home .wave.wave-3 {
    opacity: .7;
    animation-duration: 5s;
}
.about {
    background: var(--black);
}
.about .skill {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .title {
    font-size: 3rem;
    color: var(--main);
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.about .box {
    flex: 1 1 41rem;
}
.about .progress {
    padding: 1rem 0;
}
.about .progress h3 {
    font-size: 2rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
.about .progress h3 span {
    color: var(--main);
}
.about .progress .bar {
    height: 2rem;
    border: .2rem solid var(--white);
    padding: .5rem;
    margin-top: 1rem;
}
.about .progress .bar span {
    display: block;
    background: var(--main);
    height: 100%;
}
.about .progress.progress-1 .bar span {
    width: 80%;
} 
.about .progress.progress-2 .bar span {
    width: 70%;
} 
.about .progress.progress-3 .bar span {
    width: 75%;
} 
.about .progress.progress-4 .bar span {
    width: 5%;
} 
.about .progress.progress-5 .bar span {
    width: 10%;
} 
.about .progress.progress-6 .bar span {
    width: 50%;
} 
.about .progress.progress-7 .bar span {
    width: 5%;
} 
.about .progress.progress-8 .bar span {
    width: 2%;
} 
.about .info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}
.about .info {
    flex: 1 1 30rem;
}
.about .image {
    flex: 1 1 30rem;
}
.about .image img {
    width: 100%;
}
.about .info-container .info:first-child {
    text-align: right;
}
.about .info p {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: var(--white);
    padding: 1rem;
}
.about .info p span {
    color: var(--main);
}
.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.services .box {
    padding: 3rem 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
}
.services img {
    height: 10rem;
    margin-bottom: 1rem;
}
.services h3 {
    font-size: 2.5rem;
}
.services p {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 2;
}
.contact {
    background: linear-gradient(var(--black) 50%, var(--main));
}
.contact form {
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--white);
    border: var(--border);
    padding: 2rem;
}
.contact .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1.2rem 1.4rem;
    text-transform: lowercase;
    font-size: 2rem;
    border: var(--border);
}
.contact .box:focus {
    background-color: var(--black);
    color: var(--white);
}
.contact form textarea {
    height: 17rem;
    resize: none;
}















@media (max-width:1200px){

    .header{
        padding: 1.5rem 5%;
    }
    section {
        padding: 3rem 5%;
    }
}
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}
@media (max-width:768px){

    .heading {
        font-size: 11vw;
    }

    .navbar{
        width: 100%;
        z-index: 1200;
        background: none;
    }
    .navbar a{
        background: var(--main);
        font-size: 4rem;
        transform: scale(.9);
        color: var(--black);
        border: var(--border);
        padding: .5rem 2rem;
    }
    .navbar-img{
        width: 100%;
        filter: grayscale();
    }
    .home h2 {
        font-size: 10vw;
    }
    .home .home-img {
        height: 20rem;
        width: 20rem;
        transform: translate(-50%, -100%) scale(0);
    }
    .home .home-text:hover ~ .home-img {
        transform: translate(-50%, -100%) scale(1);
    }
    .about .info-container .image {
        order: -1;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }
}